<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板<%= id %></title>
</head>
<body>

    <!-- header -->
    <%- include('header') %>

    <!-- body -->
    <h1>模板<%= id %>列表：</h1>
    <% for(var i = 0; i<list.length; i++){ %>
    <ul>
        <li><%= list[i] %></li>
    </ul>
    <% } %>
    <p><a href="/template/<%= id + 1 %>">下一页</a></p>

    <!-- footer -->
    <%- include('footer') %>

</body>
</html>